Repository parnasmi/cloudretail: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write --allow-empty, npm -w apps/api run lint, npm -w apps/ui run lint

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write --allow-empty",
  "apps/api/**/*.{js,ts}": "npm -w apps/api run lint",
  "apps/ui/**/*.{js,ts,jsx,tsx}": "npm -w apps/ui run lint"
}

feat: setup vite
  apps/ui/index.html
  apps/ui/package.json
  apps/ui/src/App.tsx
  apps/ui/src/index.tsx
  apps/ui/tsconfig.json
  apps/ui/vite.config.mjs
  package-lock.json
Due: prettier --ignore-unknown --write --allow-empty, npm -w apps/ui run lint

feat:27-setup npm run all, setup tailwind prettier plugin
  .vscode/settings.json
  apps/ui/.prettierrc
  apps/ui/index.html
  apps/ui/package.json
  apps/ui/src/App.tsx
  apps/ui/src/index.css
  apps/ui/src/shared/ui/Button/Button.tsx
  apps/ui/vite.config.mjs
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write --allow-empty, npm -w apps/ui run lint

feat: add routing and base components
  apps/ui/package.json
  apps/ui/src/App.tsx
  apps/ui/src/pages/Dashboard/Dashboard.tsx
  apps/ui/src/pages/Login/Login.tsx
  apps/ui/src/shared/ui/NavLink/NavLink.tsx
  package-lock.json
Due: prettier --ignore-unknown --write --allow-empty, npm -w apps/ui run lint

add react router and base components
  .lintstagedrc.json
Due: prettier --ignore-unknown --write --allow-empty

feat: add vscode marketplace Extension Gallery Service URL
  .gitignore
  .vscode/settings.json
Due: prettier --ignore-unknown --write --allow-empty

feat: create re-usable components for Login page
  apps/ui/package.json
  apps/ui/src/pages/Login/Login.tsx
  apps/ui/src/shared/ui/Form/Form.tsx
  apps/ui/src/shared/ui/Input/Input.tsx
  apps/ui/src/shared/ui/Label/Label.tsx
  package-lock.json
Due: prettier --ignore-unknown --write --allow-empty, npm -w apps/ui run lint

feat: optimize Label component
  apps/ui/src/pages/Login/Login.tsx
  apps/ui/src/shared/ui/Label/Label.tsx
Due: prettier --ignore-unknown --write --allow-empty, npm -w apps/ui run lint

fix: Label component
  apps/ui/src/pages/Login/Login.tsx
  apps/ui/src/shared/ui/Label/Label.tsx
  apps/ui/vite.config.mjs
Due: prettier --ignore-unknown --write --allow-empty, npm -w apps/ui run lint

29:implement createFetcher function
  apps/api/src/endpoints.ts
  apps/api/src/export.ts
  apps/api/src/http.ts
  apps/api/src/shared.ts
  apps/ui/package.json
  apps/ui/src/shared/api/api.ts
  apps/ui/src/shared/api/createFetcher.ts
  package-lock.json
Due: prettier --ignore-unknown --write --allow-empty, npm -w apps/api run lint, npm -w apps/ui run lint

30: implement login functionality in ui
  apps/ui/src/pages/Login/Login.tsx
  apps/ui/src/shared/api/createFetcher.ts
  apps/ui/tsconfig.json
  apps/ui/vite.config.mjs
Due: prettier --ignore-unknown --write --allow-empty, npm -w apps/ui run lint

31: implement AuthContext and using in Dashboard
  apps/ui/src/App.tsx
  apps/ui/src/app/authProvider/AuthContext.tsx
  apps/ui/src/app/authProvider/index.ts
  apps/ui/src/pages/Dashboard/Dashboard.tsx
  apps/ui/src/shared/api/createFetcher.ts
  apps/ui/tsconfig.json
  apps/ui/vite.config.mjs
Due: prettier --ignore-unknown --write --allow-empty, npm -w apps/ui run lint
